migrations
assets/
.DS_Store
./ems/__pycache__
__pycache__/settings.cpython-39.pyc
*.pyo
*.pyc
assets

ems/__pycache__/*.*.pyc
__pycache__/
*.py[cod]

assets/.DS_Store
assets/components/EMSSidebar/EMSSidebar.js