{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css'%}">
    <script type="text/javascript" src="{% static 'components/SmartSignalHeader/smartSignalHeaderForgotPassword.js'%}"></script>
    <script type="text/javascript" src="{% static 'components/SmartSignalSidebar/smartSignalSidebar.js'%}"></script>
</head>
<body>
<smart-signal-header-forgot-password></smart-signal-header-forgot-password>
{% block content %}



	<!--Reset Password-->
	<div class="container p-50">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form }}
            <button class="btn btn-primary" type="submit">Send email</button>
        </form>
  	</div>

{% endblock %}
</body>
</html>
