{% extends 'main_content.html' %}
{% load static %}

{% block main_content_header %}
    Cost area Details
{% endblock %}

{% block main_content %}
<form class="main-content-form">
   {% csrf_token %}
   <div class="form-group row">
        <label class="col-sm-2 col-form-label">Company</label>
            <div class="col-sm-4">
                 <select id="company" name="company">
                        {% for c in cnm_list %}
                            <option value="{{c}}">{{c}}</option>
                        {% endfor %}
                 </select>
            </div>
   </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Location</label>
            <div class="col-sm-4">
                <select id="location" name="location">
                      {% for l in lnm_list %}
                          <option value="{{l}}">{{l}}</option>
                      {% endfor %}
                </select>
            </div>
   </div>
   <table class="table table-striped">
       		<tr>
                    <th>Company</th>
                	<th>Location</th>
                	<th>Cost area</th>
            </tr>
            {% for r in data %}
                <tr>
                    <td>{{ r.company }}</td>
                    <td>{{r.location}}</td>
                    <td>{{r.cost_area}}</td>
                </tr>
            {% endfor %}
      </table>
    </form>
{% endblock %}
