
{% load static %}
{% static "images" as baseUrl %}




<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css'%}">
    <script type="text/javascript" src="{% static 'components/SmartSignalHeader/smartSignalHeader.js'%}"></script>
    <script type="text/javascript" src="{% static 'components/SmartSignalSidebar/smartSignalSidebar.js'%}"></script>
    <script type="text/javascript" src="{% static 'components/SmartSignalSidebar/smartSignalSidebarAdmin.js'%}"></script>
</head>
<body>
<smart-signal-header name="{{user.first_name}}" isAuthenticated="{{user.is_authenticated}}"></smart-signal-header>
<!--
<smart-signal-sidebar></smart-signal-sidebar>
<smart-signal-sidebar-admin></smart-signal-sidebar-admin>
-->

{% block content %}
         {% if user.is_superuser %}
		<smart-signal-sidebar-admin></smart-signal-sidebar-admin>
         {% else %}
                <smart-signal-sidebar></smart-signal-sidebar>
         {% endif %}


	<div>
		     <p>This page is under construction</p>
	</div>

{%endblock%}


</body>
</html>
