{% extends 'main_content.html' %}
{% load static %}

{% block main_content_header %}
    Enter Company Details
{% endblock %}

{% block main_content %}
    <form class="main-content-form" action="addarea" method="POST">
        {% csrf_token %}
        <table>
         <!--  	<div>
              <label for="consortium"></label>
              <select id="consortium" name="consortium">
                {% for cnm in full_list %}
            	    <option value="{{cnm}}">{{cnm}}</option>
                {% endfor %}
              </select>
            </div> -->
            {{form}}
        </table>
        
        <button type="submit" class="btn btn-primary ems-button">Add New Area</button>
    </form>
{% endblock %}

