{% load static %}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
      <title>Smart Signal web app</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css'%}">
      <script type="text/javascript" src="{% static 'components/SmartSignalHeader/smartSignalHeader.js'%}"></script>
      <script type="text/javascript" src="{% static 'components/SmartSignalSidebar/smartSignalSidebarAdmin.js'%}"></script>

</head>
  <body>
    <header>
 <smart-signal-header name="{{user.first_name}}" isAuthenticated="{{user.is_authenticated}}"></smart-signal-header>
    <smart-signal-sidebar-admin></smart-signal-sidebar-admin>
<div class="ss-main-container">
	<img class="ss-default-bg" src="/static/images/Ecube_logo.png"/>
	<span>Welcome, Admin!</span>
</div>

<!--
<div class="sidenav">
        <h5 class="w3-bar-item">Admin Navigation</h5>
        <ul class="list">
                <li><a href="client_menu">Clients</a></li>
                <li><a href="uploadvideo">Upload video</a></li>
                <li><a href="displaylist_admin">List out videos</a></li>
        </ul>
</div>
-->

</body>
</html>
