{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<form method="POST" class="post-form" action="/updatearea/{{employee.id}}">
        {% csrf_token %}

    {{ form.errors }}
    {{ form.non_field_errors }}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Update Details</h3>
    </div>
  </div>
<!--
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">AreaId:</label>
    <div class="col-sm-4">
        <input type="text" name="id" id="id" required value="{{ employee.id }}"/>
  </div> -->
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Company:</label>
    <div class="col-sm-4">
        <input type="text" name="company" id="company" required maxlength="30" value="{{ employee.company }}"/>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Location:</label>
    <div class="col-sm-4">
      <input type="text" name="location" id="location" required maxlength="15" value="{{ employee.location }}"/>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Area:</label>
    <div class="col-sm-4">
      <input type="text" name="area" id="area" required maxlength="50" value="{{ employee.area }}"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Area logo:</label>
    <div class="col-sm-4">
      <input type="text" name="area_logo" id="area_logo" required maxlength="100" value="{{ employee.area_logo }}"/>
    </div>
  </div>
    </div>

    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-success">Update</button>
    </div>
  </div>
  {{ updated_on }}
</form>
</body>
</html>

