{% extends 'main_content.html' %}
{% load static %}

{% block main_content_header %}
    Update Location Details
{% endblock %}

{% block main_content %}

<form method="POST" class="main-content-form" action="/updatearea/{{employee.area_id}}">
     {% csrf_token %}
     <div class="form-group row">
        <label  class="col-sm-2 col-form-label">AreaId:</label>
        <div class="col-sm-4">
            <input type="text"  name="id" id="id" required value="{{ employee.area_id }}"/>
        </div>
     </div>
     <div class="form-group row">
        <label class="col-sm-2 col-form-label">Company:</label>
        <div class="col-sm-4">
             <select id="company" name="company" required>
                {% for cnm in cmp_list %}
                    <option 
                    value="{{cnm.company_id}}"
                    {% if cnm.company_id ==  employee.company_id %}
                        selected="selected"
                    {% endif %}
                    >
                {{cnm.company_name1}}</option>

                {% endfor %}
            </select>
        </div>
     </div>
     <div class="form-group row">
        <label class="col-sm-2 col-form-label">Location:</label>
        <div class="col-sm-4">
            <select id="location" name="location" required>
                {% for lnm in lnm_list %}
                    <option 
                    value="{{lnm.location_id}}"
                    {% if lnm.location_id ==  employee.location_id %}
                        selected="selected"
                    {% endif %}>
                {{lnm.short_name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Area:</label>
        <div class="col-sm-4">
            <input type="text" name="area" id="area" required maxlength="50" value="{{ employee.area }}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Area logo:</label>
        <div class="col-sm-4">
            <input type="text" name="area_logo" id="area_logo" required maxlength="100" value="{{ employee.area_logo }}"/>
        </div>
    </div>
<!--   <table>
          {{form}}
      </table>  -->
  <button type="submit" class="btn btn-success">Update</button>
  {{ updated_on }}
</form>
{% endblock %}