{% extends 'main_content.html' %}
{% load static %}

{% block main_content_header %}
    Update Company Details
{% endblock %}

{% block main_content %}
<form method="POST" class="post-form" action="/updatecompany/{{employee.company_id}}">
    {% csrf_token %}
    <div class="form-group row">
          <label class="col-sm-2 col-form-label">CId:</label>
          <div class="col-sm-4">
               <input type="text" name="c_id" id="c_id" required maxlength="20" value="{{ employee.company_id }}"/>
          </div>
    </div>
    <div class="form-group row">
          <label class="col-sm-2 col-form-label">Short Name:</label>
          <div class="col-sm-4">
               <input type="text" name="short_name" id="short_name" required maxlength="10" value="{{ employee.short_name }}"/>
          </div>
    </div>
    <div class="form-group row">
          <label class="col-sm-2 col-form-label">Company name:</label>
          <div class="col-sm-4">
              <input type="text" name="company_name1" id="company_name1" required maxlength="55" value="{{ employee.company_name1 }}"/>
          </div>
    </div>
    <div class="form-group row">
          <label class="col-sm-2 col-form-label">Street:</label>
          <div class="col-sm-4">
              <input type="text" name="street" id="street" required maxlength="255" value="{{ employee.street }}"/>
          </div>
    </div>
    <div class="form-group row">
          <label class="col-sm-2 col-form-label">Town:</label>
          <div class="col-sm-4">
              <input type="text" name="town" id="town" required maxlength="30" value="{{ employee.town }}"/>
          </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Zipcode:</label>
        <div class="col-sm-4">
            <input type="text" name="zip_code" id="zip_code" required maxlength="6" value="{{ employee.zip_code }}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Country:</label>
        <div class="col-sm-4">
            <input type="text" name="country" id="country" required maxlength="30" value="{{ employee.country }}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Company URL:</label>
        <div class="col-sm-4">
            <input type="text" name="company_url" id="company_url" required maxlength="50" value="{{ employee.company_url }}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Contact person:</label>
        <div class="col-sm-4">
             <input type="text" name="contact_person" id="contact_person" required maxlength="100" value="{{ employee.contact_person }}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Telephone number:</label>
        <div class="col-sm-4">
             <input type="text" name="tel_no" id="tel_no" required maxlength="10" value="{{ employee.tel_no }}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">email:</label>
        <div class="col-sm-4">
            <input type="text" name="email" id="email" required value="{{ employee.email }}"/>
        </div>
    </div>
   <div class="form-group row">
        <label class="col-sm-2 col-form-label">Fax no:</label>
        <div class="col-sm-4">
            <input type="text" name="fax_no" id="fax_no" required maxlength="10" value="{{ employee.fax_no }}"/>
        </div>
   </div>
   <div class="form-group row">
       <label class="col-sm-2 col-form-label">Tax no1:</label>
       <div class="col-sm-4">
            <input type="text" name="tax_no1" id="tax_no1" required maxlength="10" value="{{ employee.tax_no1 }}"/>
        </div>
  </div>
  <div class="form-group row">
       <label class="col-sm-2 col-form-label">Tax no2:</label>
       <div class="col-sm-4">
            <input type="text" name="tax_no2" id="tax_no2" required maxlength="10" value="{{ employee.tax_no2 }}"/>
       </div>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label">Company logo:</label>
      <div class="col-sm-4">
           <input type="text" name="company_logo" id="company_logo" required maxlength="10" value="{{ employee.company_logo }}"/>
      </div>
  </div>
  <button type="submit" class="btn btn-success">Update</button>
  {{ updated_on }}
</form>
{% endblock %}

