
{% extends 'main_content.html' %}
{% load static %}

{% block main_content_header %}
    ROI Calculations
{% endblock %}

{% block main_content %}
    <form class="main-content-form" action="/roicalc">
        {% csrf_token %}

  <label for="curr">Currency:</label>
  <input type="text" id="curr" name="curr"><br><br>
  <label for="annenrgycost">Annual Energy Cost:</label>
  <input type="text" id="annenrgycost" name="annenrgycost"><br><br>
  <label for="aecsp">Annual Energy Cost Saving Potential:</label>
  <input type="text" id="aecsp" name="aecsp"><br><br>
  <label for="pdtcap">Process down-time Cost Avoidance Potential :</label>
  <input type="text" id="pdtcap" name="pdtcap"><br><br>
  <label for="oamsp">Operation and Maintainance Saving Potential:</label>
  <input type="text" id="oamsp" name="oamsp"><br><br>
  <label for="eas">Energy Audit Study(75k-10Lakhs):</label>
  <input type="text" id="eas" name="eas"><br><br>
  <label for="pems">Powerman Energy Management Systen:</label>
  <input type="text" id="pems" name="pems"><br><br>
  <label for="ioesm">Investment on Energy Saving Measures(>1Lakh):</label>
  <input type="text" id="ioesm" name="ioesm"><br><br>
  <input type="submit" value="Calculate">
</form>
{% endblock %}