
{% extends 'main_content.html' %}
{% load static %}

{% block main_content_header %}
    Location Details
{% endblock %}

{% block main_content %}
    <form class="main-content-form">
        {% csrf_token %}
          <table class="table table-striped ems-table">
            <thead>
            <tr>
            <th hidden>ID</th>
            <th>Company</th>
            <th>Short name</th>
            <th>Description</th>
            <th>Street</th>
            <th>Contact person</th>
            <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for i in result %}
            <tr>
              <td hidden>{{ i.location_id }}</td>
              <td>{{ i.company}}</td>
              <td>{{ i.short_name }}</td>
              <td>{{ i.description }}</td>
              <td>{{ i.street }}</td>
              <td>{{ i.contact_person }}</td>
              <td>
                  <a href="/editlocation/{{ i.location_id }}"><span class="glyphicon glyphicon-pencil" >Update</span></a>
                  <a href="/deletelocation/{{ i.location_id }}">Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="addlocation" class="btn btn-primary ems-button">Add New Location</a>
    </form>
{% endblock %}




