
{% extends 'main_content.html' %}
{% load static %}

{% block main_content_header %}
    Smart Meter Details
{% endblock %}

{% block main_content %}
    <form class="main-content-form">
        {% csrf_token %}
          <table class="table table-striped">
            <thead>
            <tr>
            <th>ID</th>
            <th>Brand name</th>
            <th>Brand type</th>
            <th>Brand model</th>
            <th>Manufacturer</th>
            <th>Description</th>
            <th>Max no of channels</th>
            </tr>
            </thead>
            <tbody>
            {% for i in result %}
              <tr>
                <td>{{i.brand_id}}</td>
                <td>{{i.brand_name}}</td>
                <td>{{i.brand_type}}</td>
                <td>{{i.brand_model}}</td>
                <td>{{i.description}}</td>
                <td>{{i.max_no_of_channels}}</td>
                <!--<td>
                    <a href="/editarea/{{ i.area_id }}"><span class="glyphicon glyphicon-pencil" >Update</span></a>
                    <a href="/deletearea/{{ i.area_id }}">Delete</a>
                </td>-->
              </tr>
            {% endfor %}

          </tbody>
        </table>

    </form>
{% endblock %}




