
{% extends 'main_content.html' %}
{% load static %}

{% block main_content_header %}
    Area Details
{% endblock %}

{% block main_content %}
    <form class="main-content-form">
        {% csrf_token %}
          <table class="table table-striped">
            <thead>
            <tr>
            <th>ID</th>
            <th>Company</th>
            <th>Location</th>
            <th>Area</th>
            </tr>
            </thead>
            <tbody>
            {% for i in result %}
              <tr>
                <td>{{i.id}}</td>
                <td>{{i.company}}</td>
                <td>{{i.location}}</td>
                <td>{{i.area}}</td>
              </tr>
            {% endfor %}
            <td>
                    <a href="/edit/{{ i.id }}"><span class="glyphicon glyphicon-pencil" >Update</span></a>
                    <a href="/delete/{{ i.id }}">Delete</a>
                </td>
          </tbody>
        </table>
        <a href="cmp" class="btn btn-primary ems-button">Add New Record</a>
    </form>
{% endblock %}




