
{% extends 'main_content.html' %}
{% load static %}

{% block main_content_header %}
    Company Details
{% endblock %}

{% block main_content %}
    <form class="main-content-form">
        {% csrf_token %}
          <table class="table table-striped ems-table">
            <thead>
            <tr>
            <th hidden>CID</th>
            <th>Short name</th>
            <th>Company name</th>
            <th>Street</th>
            <th>Town</th>
            <th>Zipcode</th>
            <th>Country</th>
            <th>URL</th>
            <th>Contact person</th>
            <th>Telephone number</th>
            <th>Email</th>
            <th>Fax no</th>
            <th>Tax no1</th>
            <th>Tax no2</th>
            <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for i in cd %}
              <tr>
                <td hidden>{{i.company_id}}</td>
                <td>{{i.short_name}}</td>
                <td>{{i.company_name1}}</td>
                <td>{{i.street}}</td>
                <td>{{i.town}}</td>
                <td>{{i.zip_code}}</td>
                <td>{{i.country}}</td>
                <td>{{i.company_url}}</td>
                <td>{{i.contact_person}}</td>
                <td>{{i.tel_no}}</td>
                <td>{{i.email}}</td>
                <td>{{i.fax_no}}</td>
                <td>{{i.tax_no1}}</td>
                <td>{{i.tax_no2}}</td>
                <td>
                    <a href="/editcompany/{{ i.company_id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
                    <a href="/deletecompany/{{ i.company_id }}">Delete</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="addcompany" class="btn btn-primary ems-button">Add New Company</a>
    </form>
{% endblock %}




