
{% extends 'main_content.html' %}
{% load static %}

{% block main_content_header %}
    Area Details
{% endblock %}

{% block main_content %}
    <form class="main-content-form">
        {% csrf_token %}
          <table class="table table-striped">
            <thead>
            <tr>
            <th>ID</th>
            <th>Company</th>
            <th>Location</th>
            <th>Area</th>
            <th>Area logo</th>
            </tr>
            </thead>
            <tbody>
            {% for i in result %}
              <tr>
                <td>{{i.id}}</td>
                <td>{{i.company}}</td>
                <td>{{i.location}}</td>
                <td>{{i.area}}</td>
                <td>{{i.area_logo}}</td>
                <td>
                    <a href="/editarea/{{ i.id }}"><span class="glyphicon glyphicon-pencil" >Update</span></a>
                    <a href="/deletearea/{{ i.id }}">Delete</a>
                </td>
              </tr>
            {% endfor %}

          </tbody>
        </table>

    </form>
{% endblock %}




