
{% extends 'main_content.html' %}
{% load static %}

{% block main_content_header %}
    Company Details
{% endblock %}

{% block main_content %}
    <form class="main-content-form">
        {% csrf_token %}
          <table class="table table-striped">
            <thead>
            <tr>
            <th>ID</th>
            <th>Short name</th>
            <th>Company name</th>
            <th>Street</th>
            <th>Town</th>
            <th>Zipcode</th>
            <th>Country</th>
            <th>URL</th>
            <th>Contact person</th>
            <th>Telephone number</th>
            <th>Email</th>
            <th>Fax no</th>
            <th>Tax no1</th>
            <th>Tax no2</th>
            </tr>
            </thead>
            <tbody>
            {% for i in cd %}
              <tr>
                <td>{{i.id}}</td>
                <td>{{i.short_nm}}</td>
                <td>{{i.company_nm}}</td>
                <td>{{i.street}}</td>
                <td>{{i.town}}</td>
                <td>{{i.zipcode}}</td>
                <td>{{i.country}}</td>
                <td>{{i.internet_address}}</td>
                <td>{{i.contact_person}}</td>
                <td>{{i.telephone_number}}</td>
                <td>{{i.email}}</td>
                <td>{{i.fax_no}}</td>
                <td>{{i.tax_no1}}</td>
                <td>{{i.tax_no2}}</td>
                <td>
                    <a href="/edit/{{ i.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
                    <a href="/delete/{{ i.id }}">Delete</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="cmp" class="btn btn-primary ems-button">Add New Record</a>
    </form>
{% endblock %}




