<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart meter model defination</title>
</head>
<body>
        <label for="brand"></label>
            <select id="brand" name="brand">
              {% for l in brd %}
              <option value="{{l}}">{{l}}</option>
              {% endfor %}
            </select>
        <label for="area"></label>
            <select id="area" name="area">
              {% for l in area %}
              <option value="{{l}}">{{l}}</option>
              {% endfor %}
            </select>
        <table>
            		<tr>
                	<th>Sr. No.</th>
                	<th>Name</th>
                	<th>Location</th>
                	<th>Ares</th>
                	<th>Brand</th>
                    <th>Model</th>
                	<th>Manufacturer</th>
                	<th>Description</th>
           		</tr>
                {% for r in data %}
                <tr>
    		         <td style="text-align:center">{{ c }}</td>
                </tr>
                {% endfor %}
</body>
</html>